<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wingzapp.wingz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".BeExpo.BeExpo8_sp" />
        <activity android:name=".BeExpo.BeExpo8_psbed" />
        <activity android:name=".BeExpo.BeExpo8_pq" />
        <activity android:name=".BeExpo.BeExpo8_ehvac" />
        <activity android:name=".BeExpo.BeExpo8_eds" />
        <activity android:name=".BeExpo.BeExpo8_ed" />
        <activity android:name=".BeExpo.BeExpo8_dsp" />
        <activity android:name=".BeExpo.BeExpo8_caps" />
        <activity android:name=".BeExpo.BeExpo8_ampp" />
        <activity android:name=".BeExpo.BeExpo8_bme" />
        <activity android:name=".BeExpo.BeExpo7_hve" />
        <activity android:name=".BeExpo.BeExpo7_it_app" />
        <activity android:name=".BeExpo.BeExpo7_facts" />
        <activity android:name=".BeExpo.BeExpo7_flnn" />
        <activity android:name=".BeExpo.BeExpo7_eps2" />
        <activity android:name=".BeExpo.BeExpo7_ema" />
        <activity android:name=".BeExpo.BeExpo7_eid" />
        <activity android:name=".BeExpo.BeExpo7_cs2" />
        <activity android:name=".BeExpo.BeExpo6_psp" />
        <activity android:name=".BeExpo.BeExpo6_pe" />
        <activity android:name=".BeExpo.BeExpo6_fe" />
        <activity android:name=".BeExpo.BeExpo6_eeim" />
        <activity android:name=".BeExpo.BeExpo6_edtc" />
        <activity android:name=".BeExpo.BeExpo6_cs1" />
        <activity android:name=".BeExpo.BeExpo5_uee" />
        <activity android:name=".BeExpo.BeExpo5_mpi" />
        <activity android:name=".BeExpo.BeExpo5_eps1" />
        <activity android:name=".BeExpo.BeExpo5_emd" />
        <activity android:name=".BeExpo.BeExpo5_em2" />
        <activity android:name=".BeExpo.BeExpo4_em1" />
        <activity android:name=".BeExpo.BeExpo4_ee" />
        <activity android:name=".BeExpo.BeExpo4_dlec" />
        <activity android:name=".BeExpo.BeExpo4_cp" />
        <activity android:name=".BeExpo.BeExpo4_m4" />
        <activity android:name=".BeExpo.BeExpo3_nces" />
        <activity android:name=".BeExpo.BeExpo3_na" />
        <activity android:name=".BeExpo.BeExpo3_emi" />
        <activity android:name=".BeExpo.BeExpo3_edc" />
        <activity android:name=".BeExpo.BeExpo3_m3" />
        <activity android:name=".BeMech.BeMech8_sa" />
        <activity android:name=".BeMech.BeMech8_res" />
        <activity android:name=".BeMech.BeMech8_rac" />
        <activity android:name=".BeMech.BeMech8_mv" />
        <activity android:name=".BeMech.BeMech8_mtd" />
        <activity android:name=".BeMech.BeMech8_mis" />
        <activity android:name=".BeMech.BeMech8_im" />
        <activity android:name=".BeMech.BeMech8_ifp" />
        <activity android:name=".BeMech.BeMech8_fem" />
        <activity android:name=".BeMech.BeMech8_ec3" />
        <activity android:name=".BeMech.BeMech8_cim" />
        <activity android:name=".BeMech.BeMech8_ap" />
        <activity android:name=".BeMech.BeMech8_amt" />
        <activity android:name=".BeMech.BeMech8_aice" />
        <activity android:name=".BeMech.BeMech7_td" />
        <activity android:name=".BeMech.BeMech7_sm" />
        <activity android:name=".BeMech.BeMech7_ppe" />
        <activity android:name=".BeMech.BeMech7_mhs" />
        <activity android:name=".BeMech.BeMech7_ir" />
        <activity android:name=".BeMech.BeMech7_ie" />
        <activity android:name=".BeMech.BeMech7_ec2" />
        <activity android:name=".BeMech.BeMech7_dmd" />
        <activity android:name=".BeMech.BeMech7_cad" />
        <activity android:name=".BeMech.BeMech7_ae" />
        <activity android:name=".BeMech.BeMech6_or" />
        <activity android:name=".BeMech.BeMech6_mt" />
        <activity android:name=".BeMech.BeMech6_fe" />
        <activity android:name=".BeMech.BeMech6_ec1" />
        <activity android:name=".BeMech.BeMech6_dm" />
        <activity android:name=".BeMech.BeMech6_cse" />
        <activity android:name=".BeMech.BeMech5_mmm" />
        <activity android:name=".BeMech.BeMech5_ieed" />
        <activity android:name=".BeMech.BeMech5_ht" />
        <activity android:name=".BeMech.BeMech5_app" />
        <activity android:name=".BeMech.BeMech5_dme" />
        <activity android:name=".BeMech.BeMech4_et" />
        <activity android:name=".BeMech.BeMech4_mp" />
        <activity android:name=".BeMech.BeMech4_mom" />
        <activity android:name=".BeMech.BeMech4_hm" />
        <activity android:name=".BeMech.BeMech4_m4" />
        <activity android:name=".BeMech.BeMech3_m3" />
        <activity android:name=".BeMech.BeMech3_mp" />
        <activity android:name=".BeMech.BeMech3_kom" />
        <activity android:name=".BeMech.BeMech3_fm" />
        <activity android:name=".BeMech.BeMech3_em" />
        <activity android:name=".BeCse.BeCse8_ics" />
        <activity android:name=".BeCse.BeCse8_nlp" />
        <activity android:name=".BeCse.BeCse8_dip" />
        <activity android:name=".BeCse.BeCse8_df" />
        <activity android:name=".BeCse.BeCse8_awsn" />
        <activity android:name=".BeCse.BeCse8_sct" />
        <activity android:name=".BeCse.BeCse8_pr" />
        <activity android:name=".BeCse.BeCse8_ot" />
        <activity android:name=".BeCse.BeCse8_ccc" />
        <activity android:name=".BeCse.BeCse8_dos" />
        <activity android:name=".BeCse.BeCse7_tcpip" />
        <activity android:name=".BeCse.BeCse7_sa" />
        <activity android:name=".BeCse.BeCse7_rtos" />
        <activity android:name=".BeCse.BeCse7_pna" />
        <activity android:name=".BeCse.BeCse7_mt" />
        <activity android:name=".BeCse.BeCse7_mc" />
        <activity android:name=".BeCse.BeCse7_lp" />
        <activity android:name=".BeCse.BeCse7_dwm" />
        <activity android:name=".BeCse.BeCse7_cg" />
        <activity android:name=".BeCse.BeCse7_bdabi" />
        <activity android:name=".BeCse.BeCse7_aca" />
        <activity android:name=".BeCse.BeCse6_fe" />
        <activity android:name=".BeCse.BeCse6_sepm" />
        <activity android:name=".BeCse.BeCse6_dp" />
        <activity android:name=".BeCse.BeCse6_cn" />
        <activity android:name=".BeCse.BeCse6_ai" />
        <activity android:name=".BeCse.BeCse4_tfcs" />
        <activity android:name=".BeCse.BeCse4_sp" />
        <activity android:name=".BeCse.BeCse4_os" />
        <activity android:name=".BeCse.BeCse4_dspd" />
        <activity android:name=".BeCse.BeCse4_dmgt" />
        <activity android:name=".BeCse.BeCse5_oop" />
        <activity android:name=".BeCse.BeCse5_daa" />
        <activity android:name=".BeCse.BeCse5_dc" />
        <activity android:name=".BeCse.BeCse5_cg" />
        <activity android:name=".BeCse.BeCse3_dcfm" />
        <activity android:name=".BeCse.BeCse3_eit" />
        <activity android:name=".BeCse.BeCse3_Cao" />
        <activity android:name=".BeCse.BeCse3_acpld" />
        <activity android:name=".BeCse.BeCse5_Dbms" />
        <activity android:name=".BeCse.BeCse3_M3" />
        <activity android:name=".Registor" />
        <activity android:name=".Login" />
        <activity android:name=".Contactus" />
        <activity android:name=".Extc8QuesActivity" />
        <activity android:name=".Extc7QuesActivity" />
        <activity android:name=".Extc6QuesActivity" />
        <activity android:name=".Extc5QuesActivity" />
        <activity android:name=".Expo8QuesActivity" />
        <activity android:name=".expo7QuesActivity" />
        <activity android:name=".Expo6QuesActivity" />
        <activity android:name=".Expo5QuesActivity" />
        <activity android:name=".Civil8QuesActivity" />
        <activity android:name=".Civil7QuesActivity" />
        <activity android:name=".Civil6QuesActivity" />
        <activity android:name=".Civil5QuesActivity" />
        <activity android:name=".Cse8QuesActivity" />
        <activity android:name=".Cse7QuesActivity" />
        <activity android:name=".Cse6QuesActivity" />
        <activity android:name=".Cse5QuesActivity" />
        <activity android:name=".Mech8QuesActivity" />
        <activity android:name=".Mech7QuesActivity" />
        <activity android:name=".Mech6QuesActivity" />
        <activity android:name=".Mech5QuesActivity" />
        <activity android:name=".Extc4QuesActivity" />
        <activity android:name=".Expo4QuesActivity" />
        <activity android:name=".Civil4QuesActivity" />
        <activity android:name=".Mech4QuesActivity" />
        <activity android:name=".Cse4QuesActivity" />
        <activity android:name=".Extc3QuesActivity" />
        <activity android:name=".Expo3QuesActivity" />
        <activity android:name=".Civil3QuesActivity" />
        <activity android:name=".Mech3QuesActivity" />
        <activity android:name=".Cse3QuesActivity" />
        <activity android:name=".EgQuesBeActivity" />
        <activity android:name=".EmQuesBeActivity" />
        <activity android:name=".BceQuesBeActivity" />
        <activity android:name=".AeeQuesBeActivity" />
        <activity android:name=".BeeQuesBeActivity" />
        <activity android:name=".M2QuesBeActivity" />
        <activity android:name=".Chem2QuesBeActivity" />
        <activity android:name=".Chem1QuesBeActivity" />
        <activity android:name=".Phy2QuesBeActivity" />
        <activity android:name=".Phy1QuesBeActivity" />
        <activity android:name=".M1QuesBeActivity" />
        <activity android:name=".SyllExpoBeActivity" />
        <activity android:name=".SyllExtcBeActivity" />
        <activity android:name=".SyllCivilBeActivity" />
        <activity android:name=".SyllMechBeActivity" />
        <activity android:name=".SyllCseBeActivity" />
        <activity android:name=".ExpoNotesBeActivity" />
        <activity android:name=".ExtcNotesBeActivity" />
        <activity android:name=".CivilNotesBeActivity" />
        <activity android:name=".MechNotesBeActivity" />
        <activity android:name=".CseNotesBeActivity" />
        <activity android:name=".Syll1styearActivity" />
        <activity android:name=".ExtcQuesPprActivity" />
        <activity android:name=".ExpoQuesPprActivity" />
        <activity android:name=".CivilQuesPprActivity" />
        <activity android:name=".MechQuesPprActivity" />
        <activity android:name=".CseQuesPprActivity" />
        <activity android:name=".FirstyearNotesBeActivity" />
        <activity android:name=".Ques_1stBeActivity" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".TimeTableActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".QuestionPaperActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>